<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Advice-API</title>
</head>
<body>
    {% if mensagem %}
    <p>{{mensagem}}</p>
    {% endif %}

    <div class="wrapper">
      <div class="titulo">Gerador de Conselhos</div> 
      <div class="painel-idioma">
        <div class="btn-idioma">
          <input type="radio" name="idioma" id="us" onclick="traduzirPadrao()" checked>     
          <input type="radio" name="idioma" id="pt" onclick="traduzirConselho()"> 
          <label for="us" class="idioma us"><img src="{{ url_for('static', filename='imagens/usa.png') }}"></label>
          <label for="pt" class="idioma pt"><img src="{{ url_for('static', filename='imagens/brasil.png') }}"></label>
          <div class="slider-tab"></div>
        </div>
      </div> 
      <div id="conselho" class="caixa-conselho">
        <div class="texto" id="advice">{{ conselho }}</div>
      </div>
      <div class="botao">
        <input type="submit" value="New Advice" class="btn" onclick="gerarConselho()">
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
<!-- <a target="_blank" href="https://icons8.com/icon/fIgZUHgwc76e/usa">USA flag</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>-->
